@import "src/shared/_global.scss";
@import "src/shared/_buttons.scss";

.Container {
  .Control {
    .BgControl {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: url(/src/baj/images/backdrop-baj-center.png) no-repeat center
        center;
      background-size: contain;
    }
    &:before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background: url(/src/baj/images/backdrop-top.png) no-repeat center 10%;
      background-size: contain;
      @media screen and (min-width: 376px) {
        background: url(/src/baj/images/backdrop-top.png) no-repeat center 15%;
        background-size: contain;
      }
      z-index: -1;
    }
    &:after {
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background: url(/src/baj/images/backdrop-baj-bottom.png) no-repeat center
        bottom;
      background-size: contain;
      z-index: -1;
    }
  }
  .GameBoard {
    &::before {
      content: "";
      position: absolute;
      background-image: url(/src/baj/images/backdrop-baj-gp-center.png);
      background-size: 100%;
      background-repeat: no-repeat;
      left: 0;
      top: 25%;
      width: 100%;
      height: 204px;
    }
    &:after {
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background: url(/src/baj/images/backdrop-baj-gp-bottom.png) no-repeat
        center bottom;
      background-size: 100% 55%;
      z-index: -1;
    }
    $size: 75px;
    .ball {
      position: absolute;
      bottom: 15px;
      left: 18%;
      width: $size;
      height: $size;
      z-index: 4;
    }
    .table {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      position: absolute;
      left: 50%;
      bottom: 210px;
      transform: translateX(-50%);
    }
    .item {
      position: absolute;
      min-width: 20px;
      height: 130px;
      &.chopstick {
        min-width: 10px;
        background: url("/src/baj/images/chopstick.png") no-repeat center center;
        background-size: contain;
      }
      &.spoon {
        background: url("/src/baj/images/spoon.png") no-repeat center center;
        background-size: contain;
        width: 45px;
      }
      &.fork {
        width: 25px;
        background: url("/src/baj/images/fork.png") no-repeat center center;
        background-size: contain;
      }
      &.cake {
        width: 35px;
        height: 25px;
        transform: rotate(0deg) !important;
        background: url("/src/baj/images/cake.png") no-repeat center center;
        background-size: contain;
      }
    }

    .hand {
      height: 140px;
      position: absolute;
      bottom: 0;
      &.left {
        left: 5%;
      }
      &.right {
        right: 5%;
      }
    }
  }
}
